<div class="static_pages_layout">
  <div class="blue_page_heading"><h1>Household Storage</h1></div>
  <div class="container-fluid">
    <%= render partial: 'static_pages/common/find_storage_space_near_you' %>
    <div class="actual_page">
      <%= render partial: 'static_pages/common/heading_with_background', locals: { title: 'Household Storage', bg: 'household' } %>

      <main class="default_static_page_main default_markup">
        <p>When you rent a household storage unit at Treasure Island Storage, you can expect Self Storage solutions that are as valuable to you as the items you choose to store. Start by taking an assessment of all the household items you don't use on a regular (monthly and/or yearly) basis. Be merciless with yourself: holiday decorations are only needed once a year, should they really take up all the space in your hall closet every day of the year?</p>

        <h5>Home Office</h5>
        <p>The most important factor when using Treasure Island Storage units for household storage is to clear valuable space to create a work environment at home that boosts productivity. Removing bulk items from your home or only need during certain times of the year are perfect for Treasure Island Storage units. Renting is both easy and affordable; and, with our helpful sizing guide you'll be moved, organized and more productive in no time at all.</p>
         
        <h5>Home Staging</h5>
        <p>Treasure Island Storage has the perfect solution for when you are staging your home for a sale. Our closets and rooms are perfect for de-cluttering your apartment and getting it open-house ready. Our low price guarantee and flexible month-to-month or long-term leases make the process simple and affordable.</p>
         
        <h5>Furniture Storage</h5>
        <p>Furniture storage at Treasure Island Storage is extremely simple using our online size guide to help you gauge your furniture pieces and with two mouse clicks you can rent or reserve it online. Our expert storage managers will confirm that you picked the right size at the right price for your budget.</p>
         
        <h5>Sports Equipment Storage</h5>
        <p>Sports equipment storage at Treasure Island Storage gives you the space you need in your home or apartment for everyday essentials, safeguarding the recreational equipment you need in an easily accessible self-storage unit nearby.</p>
         
        <h5>Toy Storage</h5>
        <p>Collecting toys from your childhood or as a hobby brings joy and pleasant memories. Toy storage is a wonderful way to preserve toys that you or your children have outgrown, and an excellent way to see that your children maximize their playtime with minimal clutter.</p>
      </main>

    </div>
  </div>
</div>

<%= content_for :title_tag, 'Household Storage | Treasure Island Storage' %>
<%= content_for :meta_description_tag, 'Storing your household and personal belongings with Treasure Island Storage means you can expect the highest quality customer service.' %>
