<div class="static_pages_layout">
  <div class="blue_page_heading"><h1>Wine Storage</h1></div>
  <div class="container-fluid">
    <%= render partial: 'static_pages/common/find_storage_space_near_you' %>
    <div class="actual_page">
      <%= render partial: 'static_pages/common/heading_with_background', locals: { title: 'Wine Storage', bg: 'wine' } %>

      <main class="default_static_page_main default_markup">
        Wine Storage at Treasure Island Storage:

        <ul>
          <li>State-of-the-art security system</li>
          <li>Climate-controlled for optimal wine cellar conditions</li>
          <li>Instant online access to your inventory and order requests</li>
          <li>Easy walk-in access</li>
          <li>Pickup and delivery services</li>
          <li>No case minimum requirements</li>
        </ul>
      </main>

    </div>
  </div>
</div>

<%= content_for :wine_tag, 'Wine Storage | Treasure Island Storage' %>
<%= content_for :meta_description_tag, 'We provide secure, climate controlled wine storage at Treasure Island Storage. We are committed to your peace of mind and will help you protect your investment.' %>
