<div class="static_pages_layout">
  <div class="blue_page_heading"><h1>FAQ</h1></div>
  <div class="container-fluid">
    <%= render partial: 'static_pages/common/find_storage_space_near_you' %>
    <div class="actual_page">
      <%= render partial: 'static_pages/common/heading_with_background', locals: { title: 'FAQ', bg: 'faq' } %>

      <main class="default_static_page_main default_markup">
        <ol>
          <li><b>Do you offer moving?</b> You can utilize our moving services depending on the unit size you rent and availability.</li>

          <li><b>Do you have a loading dock?</b> All Treasure Island Storage facilities have several loading docks to make move your possessions to</li> the unit as easy as possible.

          <li><b>Do you have elevators?</b> To accommodate the volume of traffic at our facilities we have several elevators for use.</li>

          <li><b>Can I make a payment online?</b> We accept payments online, via phone, or you can set-up automatic payments for greater convenience.</li>

          <li><b>What sized units do you have?</b> We have a variety of sizes from closet units to large commercial spaces.</li>

          <li><b>What is the minimum required time to store?</b> At minimum, we offer month-to- month</li>

          leasing without any contracts or other obligations.

          <li><b>Will I be the only one with access to my unit?</b> When you rent a unit with us, you get a unique access code. You will be the only</li> one to have access to your unit, along with anyone else you decide to share it with.

          <li><b>Do you have a contract?</b> No, we do not utilize contracts, only leases.</li>

          <li><b>Do I need a lock?</b> A standard lock is necessary to keep your items safe. You can bring your own lock, or purchase one from us</li> onsite.

          <li><b>Can I downgrade my unit?</b> Absolutely, your needs change, so you can downgrade (or upgrade) to suit your situation.</li>

          <li><b>What happens with my unit goes up for auction?</b> Auction proceedings begin when there is 3 months of non-payment. Numerous</li> communications would be sent to notify of the date and to collect payment.

          <li><b>When is payment due?</b> Payment is always due on the 1st of the month with a 5-day grace period before late fees are applied.</li>

          <li><b>Do you offer packing supplies?</b> The Treasure Island Storage office carry a wide array of packing supplies.</li>

          <li><b>Do you accept packages?</b> Yes, we do accept packages on your behalf from USPS, UPS, DHL, Fedex and are held in the main office for a couple of days for you to pick them up.</li>

          <li><b>Do you offer vehicle storage?</b> At this time, we are at capacity for the small vehicle (e.g. motorbikes) storage units.</li>
        </ol>
      </main>
    </div>
  </div>
</div>

<%= content_for :title_tag, 'Frequently Asked Questions at Treasure Island Storage' %>
<%= content_for :meta_description_tag, 'Treasure Island Storage has answers to the most frequently asked questions about self storage - from questions about unit sizes to payment options.' %>
