<div class="static_pages_layout">
  <div class="blue_page_heading"><h1>Moving Services</h1></div>
  <div class="container-fluid">
    <%= render partial: 'static_pages/common/find_storage_space_near_you' %>
    <div class="actual_page">
      <%= render partial: 'static_pages/common/heading_with_background', locals: { title: 'Moving Services' } %>

      <main class="default_static_page_main default_markup">
        <article>
          <p>Are you too busy to move your own items? Treasure Island Storage has the perfect solution for you. Our professional and courteous staff is able to set up moving assistance for you through our preferred vendors. Whether you need help moving a few boxes, or an entire building, call one of our Storage Managers to schedule your move and to see what specials we are currently offering, including a free move to storage.</p>

          <p>At Treasure Island Storage we understand moving is not always as simple as fitting everything into the trunk of your car. Sometimes you need a little help bringing your belongings to one of our conveniently located Self Storage facilities. No matter the size or complexity of your move, we have a solution to meet your needs. Treasure Island Storage not only provides secure Self Storage, many of our facilities also offer a free move truck for every new customer. To help alleviate the stress and chaos of moving and to ensure that your moving experience is exceptional, all new customers are provided with a friendly Treasure Island Storage driver and move truck for up to two hours to move your items to your storage unit – at no cost to you.</p>

          <h5>What you need to know about treasure island storage's free move truck</h5>

          <p>Treasure Island Storage is committed to the both your safety and the safety of your personal belongings. As such, the free move truck is only provided for items being stored, not for passengers. It's also important to note that the driver is not able to assist with unloading and loading the free move truck – be sure to have a few friends around to help with the heavy lifting. The free move truck will transport your items to the nearest Treasure Island Storage facility.</p>

          <p>Whether you're a college student with limited space and budget or the head of a household moving an entire family to a new home, Treasure Island Storage will make your Self Storage experience simple and easy. Contact your local Treasure Island Storage facility to learn more about the free move truck and driver service.</p>
        </article>
      </main>

    </div>
  </div>
</div>
