const SizingGuidePreview = () => 
  <div className="sizing_guide_preview" data-toggle="modal" data-target="#sizing_guide_modal">
    <h3 className="blue_heading">Sizing guide</h3>
    <div className="images">
      <%= image_tag 'common/sizing_guide_preview/sizing_guide_ruler.svg', className: 'ruler' %>
      <%= image_tag 'common/sizing_guide_preview/sizing_guide_preview.jpg', className: 'video_preview' %>
    </div>
  </div>
