const StorageUnit_mobile = React.createClass({
  propTypes: {
    storageUnit: React.PropTypes.object.isRequired
  },

  renderFeatures() {
    const features = this.props.storageUnit.features.map((feature, key) =>
      <li key={key}>
        {feature}
      </li>
    );

    return <ul className="features">
      {features}
    </ul>
  },

  renderSize(){

  },

  render() {
    const unit = this.props.storageUnit;
    const unitSize = `${unit.size_in_text} ${unit.dimensions}`
    return <div className="storage_unit">
      <section className="size_and_features">
        <div className="size">{unitSize}</div>
        {this.renderFeatures()}
      </section>

      <section className="monthly_price">
        <div className="price">
          <span className="previous">
            ${Math.round(unit.push_rate)}
          </span>
          <span className="current">
            ${Math.round(unit.street_rate)}
          </span>
        </div>

        <div className="per_month">Per Month</div>
      </section>

      <section className="continue">
        <a onClick={() => reserveStorageUnit(unit)} className="button blue">Continue</a>
      </section>
    </div>
  }

});
