// code inspired by: https://codepen.io/davidhc/pen/nLpJk___
div.slider{
  width: 100%;
  .slide_1, .slide_2, .slide_3{
    position: absolute;
    width: 100%;
    height: 502px;
    background-size: cover;
    z-index: -1000;
  }
  .slide_1{
    background-image: url(image-path('static_pages/home/find_storage/slider/1.jpg'));
    animation: fade_1 18s infinite;
  }
  .slide_2{
    background-image: url(image-path('static_pages/home/find_storage/slider/2.jpg'));
    animation: fade_2 18s infinite;
  }
  .slide_3{
    background-image: url(image-path('static_pages/home/find_storage/slider/3.jpg'));
    animation: fade_3 18s infinite;
  }
  @keyframes fade_1{
    // from 0 to 27
    0%   { opacity: 1 }

    27%  { opacity: 1 }
    30%  { opacity: 0 }

    60%  { opacity: 0 }

    97%  { opacity: 0 }
    100% { opacity: 1 }
  }
  @keyframes fade_2{
    // from 30 to 57
    0%   { opacity: 0 }

    27%  { opacity: 0 }
    30%  { opacity: 1 }

    57%  { opacity: 1 }
    60%  { opacity: 0 }

    100% { opacity: 0 }
  }
  @keyframes fade_3{
    // from 60 to 97
    0%   { opacity: 0 }

    30%  { opacity: 0 }

    57%  { opacity: 0 }
    60%  { opacity: 1 }

    97%  { opacity: 1 }
    100% { opacity: 0 }
  }
}
// ___code inspired by: https://codepen.io/davidhc/pen/nLpJk