<!-- Modal -->
<div class="modal fade" id="insuranceProvidersModal" tabindex="-1" role="dialog" aria-labelledby="insuranceProvidersModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%= render(partial: 'insurance_providers/form') %>
  </div>
</div>
