div.storage_units_tab.desktop{
  section.select_size_and_sizing_guide{
    // layout
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .select_size{
      width: 80%;
      h3, p{ width: 100%; }
      .size_options{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .size_option{ width: 19%; }
      }
    }
    .sizing_guide{ width: 20%; }

    // prettiness
    background: #e2e6ec;
    padding: 20px 40px;
    border: solid 1px $pinkish-grey_color; border-top: none;
    border-bottom: none;

    .blue_heading{
      font-size: 22px;
      font-weight: bold;
      color: $azul_color;
      text-transform: uppercase;
    }

    .size_option{
      padding: 10px;

      cursor: pointer;
      background: linear-gradient(to bottom, white, #dadada);
      border: solid 1px #c0c0c0;
      &.active{
        background: $azul_color;
        border: solid 1px #979797;
        color: white;
      }
      .size{
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
      }
      .description{
        font-size: 14px;
      }
    }
  }
  section.table_of_storage_units{
    // layout
    .table_head, .table_body .storage_unit{
      display: flex;
      section.size{ width: 15%; }
      section.features{ width: 25%; }
      section.unit_monthly_price{ width: 20%; }
      section.unit_monthly_price.online_special{ color: red; }
      section.unit_promotion{ width: 20%; }
      section.continue{ width: 20%; }
    }
    text-align: center;
    border: solid 1px $pinkish-grey_color;
    background-color: #e2e6ec;
    .table_head{
      background-image: linear-gradient(to bottom, #fafbfc, #f4f6f8);
      font-size: 16px;
      font-weight: bold;
      color: #6d6d6d;
      text-transform: uppercase;
      padding: 5px 0;
    }
    .table_body{
      display: none;

      &.active {
        display: block;
      }
      
      .storage_unit{
        padding: 12px 0;
        margin-bottom: 5px;

        background: white;
        border-top: solid 1px $pinkish-grey_color;
        border-bottom: solid 1px $pinkish-grey_color;

        display: flex;
        align-items: center;
        section.size{
          text-align: center;
          .word_and_number{
            font-size: 20px;
            line-height: 21px;
            color: black;
          }
          a.size_help{
            font-size: 15px;
            font-weight: bold;
            color: #164ce0;
            border-bottom: solid 2px #164ce1;
          }
        }
        section.features{
          ul{
            display: flex;
            flex-wrap: wrap;
            li{
              text-align: left;
              font-size: 15px;
              width: 50%;
              padding-left: 10px;
              img.tick_icon{ padding-right: 7px; }
            }
          }
        }
      }
    }
  }
}
