<section class="step_3 step block">
  <h3>Thank you for your order!</h3>
  <p>Your order number is: <%= @reservation.id %></p>
  <p>You will receive an email confirmation shorty at <%= @reservation.email %></p>
  <p class="print_receipt">Print Receipt</p>
</section>