header.desktop{
  color: #5a5a5a; a{ color: #5a5a5a; }

  @extend .container-fluid;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 3px solid $vermillion_color;
  a.phone{
    img{
      width: 19px;
      margin-right: 5px;
    }
  }

  nav.dropdown_menus{
    // common for all togglers and their dropdowns
    section.dropdown_menu{
      display: inline-block;
      padding: 30px 10px;
      z-index: 200;

      a.toggler{
        padding: 32px 10px;
        text-decoration: none;
        &:hover, &.open{
          background: $cobalt_color;
          color: white;
          span.underline{
            border-bottom: 2px solid white;
          }
        }
      }
      nav.dropdown{
        position: absolute;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        margin-top: 29px;
        z-index: 10;
        background-color: white;
        padding: 0;
        li{
          background: $cobalt_color;
          display: block;
          padding: 5px 10px;
          text-align: left;
          a{ color: white; }
          &:hover, &.active{
            background: white;
            color: $cobalt_color;
            cursor: pointer;
            a{
              color: $cobalt_color;
              text-decoration: none;
            }
          }
        }
      }
    }

    @import 'in_header/storages_dropdown';
  }

  .live_chat{
    color: $orange-red_color;
    cursor: pointer;
    span{
      display: inline-block;
      border-bottom: solid 2px $orange-red_color;
    }
  }
  .my_account{
    color: white;
    font-size: 17px;
    background: linear-gradient(to bottom, $orange-red_color, #d70000);
  }
}


// responsive
header{
  @media (max-width: 1400px){
    padding-left: 10px !important;
    padding-right: 10px !important; 
  }
  @media (max-width: 1220px){
    a.phone{ display: none; }
  }
}
