main#checkout_new_page{
  h2{
    color: $light-navy_color;
    font-size: 24px;
  }

  .block{
    background-color: #f5f6f8;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    h5.block_heading{
      background: $light-navy_color;
      color: white;
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
    }
    a.change_something{
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      color: $vermillion_color;
    }
  }

  div.sidebar_and_steps{
    display: flex;
    flex-wrap: no-wrap;
    @import 'in_new/your_reservation';
    @import 'in_new/step_1';
    @import 'in_new/step_2';
  }

  @import 'in_new/step_navigation';
}


// responsive
main#checkout_new_page{
  @media (max-width: $md){
    .step_navigation{
      div.col-md-6{ margin: 0 auto; }
      h2{ margin-bottom: 31px; text-align: center; }
    }
    div.sidebar_and_steps{
      flex-wrap: wrap;
      aside.your_reservation{
        margin: 0 auto;
      }
      section.step{
        width: 100%;
        margin-top: 30px;
      }
    }
  }

  @media (max-width: $sm){
    div.sidebar_and_steps{
      aside.your_reservation{
        flex-basis: 275px;
        section.storage{
          .image{
            text-align: center;
            margin-bottom: 20px;
            padding-left: 0;
            img{ max-width: 250px; }
          }
        }
      }
    }
  }
}

.checkout_controller{
  header.desktop{
    div, a.my_account{ display: none; }
  }
}
