<section class="heading_with_background">
  <% if defined?(bg) %>
    <div class="background"
      style="background-image: url(<%= image_path("static_pages/heading/#{bg}.jpg") %>)"
    ></div>
  <% else %>
    <div class="background"
      style="background-image: url(<%= image_path("static_pages/heading/index.jpg") %>)"
    ></div>
  <% end %>

  <h1><%= title %></h1>
</section>
