<main id="contact_page">
  <section class="contact_form">
    <section class="left_image"></section>

    <%= react_component('StaticPages_Contact_ContactForm', { storages: all_sites }) %>
  </section>
</main>

<%= content_for :title_tag, 'Contact Us | Treasure Island Storage' %>
<%= content_for :meta_description_tag, 'We are committed to providing the best self storage experience. Contact Treasure Island Storage today to learn how we are dedicated to your satisfaction.' %>
