main#storage_solutions_page{
  section.tabs{
    display: flex;
    ul.navigation{
      width: 40%;
    }
    .tab-content{
      width: 60%;
    }

    border-radius: 7px;
    border: solid 1px $pinkish-grey_color;
    ul.navigation{
      border-right: solid 1px $pinkish-grey_color;
      li.nav-item:first-of-type a{
        border-top-left-radius: 10px;
      }
      li.nav-item:last-of-type a{
        border-bottom-left-radius: 5px;
      }
      a.nav-link{
        width: 100%;
        font-size: 16px;
        padding: 10px;
        border-bottom: solid 1px $pinkish-grey_color;
        &.active{
          color: $orange-red_color;
          background: white;
        }
        &:not(.active){
          background-image: linear-gradient(to bottom, white, rgba(220, 220, 220, 0.9));
          color: #060606;
        }
      }     
    }
    .tab-content{
      padding: 20px;
      .underlined{
        border-bottom: solid 1px #cccccc;
        display: inline-block;
        margin-bottom: 10px;
        h6.blue_heading{
          color: $light-navy_color;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 6px;
        }
      }
      article.description{
        border: none;
        padding: 15px 0px;
        h6{
          margin-top: 20px;
          font-weight: bold;
        }
        ul{
          list-style-type: disc;
          padding-left: 23px;
        }
        a{
          color: $cobalt_color;
        }
        img{
          float: right;
          padding-left: 10px;
        }
      }
    }
  }
}


// responsive

main#storage_solutions_page{
  @media (max-width: 640px){
    article.description img{
      width: 100%;
      max-width: 263px;
      padding-left: 0 !important;
      display: block;
      float: none !important;
    }
  }
}
