#home_page{
  section{
    padding: 40px 0;
    h4.heading{
      margin-bottom: 40px;
      text-align: center;
      font-size: 30px;
    }
  }

  section.find_storage{
    background-image: url(image-path('static_pages/home/find_storage/first_free_month.png'));
    background-repeat: no-repeat;
    background-position: right 71px top 56px;

    position: relative;
    min-height: 504px;
    padding: 0;

    color: white;
    text-align: center;

    border-bottom: solid #ff0500 3px;

    @import 'in_home/background_slider';
    .find_storage_rectangle{
      .find_storage_dropdown{ padding: 0; }
      margin: 0 auto;
      position: relative;
      top: 395px;

      z-index: 100;

      width: 100%;
      max-width: 601px;
      padding: 20px 50px;

      background-image: linear-gradient(to bottom, #1e4fac, #0d2773);
      h4{ // Find Storage in Your Area
        font-size: 28px;
        font-weight: bold;
        text-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
        padding-bottom: 5px;
      }
      .find_storage_input{ height: 45px; }
    }

    div.blue_strip{ height: 27px; }
    div.blue_strip.top{ bottom: initial; }
  }

  section.featured_specials{
    margin-top: 40px;
    // common___
    h4.header{
      text-align: center;
      color: $vermillion_color;
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 10px;
    }
    .special{
      margin-bottom: 60px;
      text-align: center;
    }
    // ___common

    .special.featured_locations{
      .carousel#featured_locations_carousel{
        max-width: 343px;
        margin: 0 auto;
        .carousel-caption{
          background: #303030;
          left: inherit; right: inherit;
          bottom: initial;
          width: 100%; height: 48px;
          top: 0;
          padding: 0;

          text-transform: uppercase;
          h3{
            margin-bottom: 0;
            padding-top: 10px;
          }
        }
        .carousel-control{
          z-index: 99999999;
          height: 48px;
          background: rgb(86, 85, 85);
          opacity: 1;
          bottom: initial;
          &.right{}
        }
      }
    }
    .special.promotion, .special.in_the_news{
      img{
        width: 100%; max-width: 330px;
      }
    }
  }

  section.sign_up_for_emails{
    padding: 30px 0;
    color: white;
    background: $cobalt_color;
    .container-fluid{
      display: flex;
      justify-content: space-around;
      align-items: center;
      h3, a.button{
        margin-right: 10px; margin-left: 10px;
      }
      h3{
        font-weight: bold;
        margin-bottom: 0;
      }
      a.button{
        flex-basis: 170px;
      }
    }

    #sign_up_for_emails_modal{
      .modal-content{ padding: 20px; }
      form{
        color: $black_color;
        h3{
          margin-bottom: 20px;
          text-align: center;
        }
        label{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .title{ width: 30%; }
          .input_and_errors{
            width: 100%;
            input{
              @extend .form-control;
            }
            .errors{
              color: $vermillion_color;
            }
          }
        }
        a.button{
          display: block;
          width: 170px;
          margin: 0 auto; margin-top: 20px;
          color: white;
          &.disabled{
            background: black;
            opacity: 0.3;
            cursor: default;
          }
          &.active{}
          &.sending{
            cursor: default;
            font-size: 20px;
          }
        }
        .api_response{
          margin-top: 20px;
          text-align: center;
        }
      }
    }
  }

  section.ti_storage_benefits{
    background-color: #f6f8fa;
    text-align: center;
    h4{
      color: #0d2770;
    }
    .benefit{
      position: relative;
      .name{
        color: $cobalt_color;
        font-size: 16px;
        font-weight: bold;

        padding-top: 20px;
      }
      &:hover{ p.popover{ display: block } }
      p.popover{
        display: none;
        z-index: 10;
        top: 160px;
        padding: 5px;
        text-align: center;
      }
    }
  }

  section.ti_family_of_businesses{
    margin-bottom: -30px; // to compensate for footer's default margin
    text-align: center;
    h4{ color: $cobalt_color; }

    .businesses{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      a{
        margin: 0 50px;
        img{ width: 100%; max-width: 250px; }
      }

    }
  }
}
