const Search_Index_desktop_Unit = React.createClass({
  propTypes: {
    storage: React.PropTypes.object,
    unit:    React.PropTypes.object.isRequired,
  },

  renderStorageDetails() {
    const storage = this.props.storage;
    if (storage){
      return <div className="location">
        <span className="pin">
          <%= image_tag '_common/location_pin.svg' %>
        </span>
        <span className="address">{storage.address_1}</span>
      </div>
    }
  },

  render() {
    const unit = this.props.unit;

    return <div className="row unit">
      <div className="col-md-3 col-xs-4 size_and_location">
        <div className="size">
          <div className="word">{unit.size.toUpperCase()}</div>
          <div className="number">{unit.dimensions}</div>
        </div>
        {this.renderStorageDetails()}
      </div>

      <div className="col-md-3 col-xs-4 unit_monthly_price">
        <div className="text">Regular Price</div>
        <div className="price">
          ${Math.round(unit.push_rate)}
          <div className="line_through"></div>
        </div>
      </div>

      <div className="col-md-4 col-xs-4 unit_promotion">
        <div className="black">{unit.promotion.description}</div>
        <div className="red">${Math.round(unit.street_rate)}</div>
      </div>

      <div className="col-md-2 continue">
        <a onClick={() => reserveStorageUnit(unit)} className="button blue">Continue</a>
      </div>
    </div>
  }
})
