section.search_field_and_ad{
  margin-bottom: 20px;
  section.find_storage_dropdown{
    max-width: 470px;
    font-size: 18px;
    .showing_results_near{
      color: #999999;
      padding-bottom: 10px;
    }
    input.find_storage_input{
      width: 100%;
    }
    .button.search{
      background-image: linear-gradient(to bottom, $orange-red_color, #d70000);
      padding-top: 10px;
      height: 49px;
      width: 140px;
    }
  }

  .ad{
    img{
      max-width: 300px;
      max-height: 90px;
      width: 100%;
      float: right;
    }
  }
}


// responsive

section.search_field_and_ad{
  @media (max-width: $sm){
    .button.search{
    }
  }
}