$cobalt_color: #1f3d9b;
$orange-red_color: #ff1f1f;
$azul_color: #174ce1;
$light-navy_color: #163490;
$bright-orange_color: #ff6a00;
$pinkish-grey_color: #cdcdcd;
$black_color: #303030;
$vermillion_color: #ee1715;


// grid breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;