Search_Index_mobile_Storage = ({ storage, index }) =>
  <a href={storage.url} className="storage">
    <div className="index">{index + 1}</div>
    <div className="distance">
      <div className="number">{googleDistanceToMiles(storage.distanceToOriginObject)}</div>
      <div className="mi">mi</div>
    </div>
    <div className="address_and_price">
      <div className="address">
        {storage.address}<br/>
        {storage.area} {storage.zip_code}
      </div>
      <div className="price">Units from $193</div>
    </div>
    <div className="arrow">
      <%= image_tag "_common/arrow.svg" %>
    </div>
  </a>
