<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
    <tr>
      <td><%= subscription.id %></td>
      <td><%= subscription.name %></td>
      <td><%= subscription.email %></td>
      <td><%= subscription.created_at %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
