<div class="modal" id="more_details_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <section class="more_details">
        <div class="heading">
          <h2>Limited Availability</h2>
          <div data-dismiss="modal" aria-label="Close" class="close">
            <%= image_tag '_common/close_modal.svg' %>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="description">
          This unit has very limited availability. Please call <a href="tel:6468469449">(646) 846-9449</a> or <a href="/contact" class="blue_font">Email Us</a>. <br>One of our storage consultants will be glad to assist you.
        </div>
      </section>
    </div>
  </div>
</div>
