<!-- render it ONCE after you render all common/sizing_guide_preview-s you want -->
<div class="modal" id="sizing_guide_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render partial: 'common/sizing_guide' %>
    </div>
  </div>
</div>
