<section class="social_icons">
  <a target="_blank" href="https://www.facebook.com/TiStorage">
    <i class="fa fa-facebook-official"></i>
  </a>
  <a target="_blank" href="https://twitter.com/tistorage">
    <i class="fa fa-twitter-square"></i>
  </a>
  <a target="_blank" href="https://www.instagram.com/tistorage">
    <i class="fa fa-instagram"></i>
  </a>
  <a target="_blank" href="google+">
    <i class="fa fa-google-plus-square"></i>
  </a>
</section>
