<%= render partial: 'common/breadcrumbs', locals: {
  links: ['Locations']
} %>

<main id="locations_page">
  <div class="container-fluid">

    <% @all_storages.each do |storage| %>
      <%= render(partial: 'common/storage_view', locals: { storage: storage }) %>
    <% end %>

  </div>
</main>

<%= content_for :title_tag, 'Treasure Island Storage Locations' %>
<%= content_for :meta_description_tag, 'Please visit our website to learn more about all of our convenient Treasure Island Storage locations.' %>
