const Header_DropdownMenus_dropdowns_StorageSolutions = (props) => {
  return <nav className={'dropdown ' + (props.isOpen == true ? '' : 'invisible')}>
    <ul>
      <li><a href="/commercial-storage">Commercial Storage</a></li>
      <li><a href="/household-storage">Household Storage</a></li>
      <li><a href="/wine-storage">Wine Storage</a></li>
      <li><a href="/boat-storage">Boat Storage</a></li>
      <li><a href="/car-storage">Car Storage</a></li>
      <li><a href="http://www.arcisartstorage.com">Art Storage</a></li>
    </ul>
  </nav>
}
