const Header_DropdownMenus_dropdowns_WhyStoreWithUs = (props) => {
  return <nav className={'dropdown ' + (props.isOpen == true ? '' : 'invisible')}>
    <ul>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/moving-services">Moving Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
}
